<%- include('templates/Header')%>
<%- include('templates/Menu')%>
<div class="row mt-5" >
    <div class="col-2"></div>
    <div class="col-8">
           <div class='card' style="background-color:#00b347;">
               <div class='card-header'>
                    <h1>Opciones</h1>
                </div>
               <div class='card-body'>
                <a class='btn btn-primary col-12' href='/Postear'>Nueva noticia</a>
                <a class='btn btn-primary col-12 mt-5' href='/select'>Modificar o eliminar noticia</a>
                <a class='btn btn-primary col-12 mt-5' href='/logout'>Logout</a>
                </div>
               <div class='card-footer'>
               
               </div>
           </div>        
    </div>
    <div class="col-2"></div>
</div>

<%- include('templates/Pagefeet')%>